MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/alfalah?retryWrites=true&w=majority
PORT=5000
CLIENT_ORIGINS=http://localhost:5173,https://your-site-name.netlify.app
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"your_project_id","private_key":"-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk@your_project.iam.gserviceaccount.com"}
ADMIN_EMAILS=you@example.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
